@model FinanceApp.Dtos.ExpenseDTO

<form asp-action="@ViewData["Action"]" method="post">
    <div>
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Amount" class="form-label"></label>
        <input asp-for="Amount" class="form-control"/>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="btn-group mt-3" role="group">
        <button type="submit" class="btn btn-primary">@ViewData["ButtonText"]</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>