@model FinanceApp.Dtos.ExpenseDTO

@{
    ViewData["Action"] = "Create";
    ViewData["ButtonText"] = "Add Expense";
}

@foreach (var modelState in ViewData.ModelState.Values)
{
    foreach (var error in modelState.Errors)
    {
        <div class="alert alert-danger">@error.ErrorMessage</div>
    }
}

<div class="container">
    <h2>Add Expense</h2>
    @await Html.PartialAsync("_ExpenseForm", Model)
</div>