@model FinanceApp.Models.Expense

@{
    ViewData["Action"] = "Create";
    ViewData["ButtonText"] = "Add Expense";
}

<div class="container">
    <h2>Add Expense</h2>
    @await Html.PartialAsync("_ExpenseForm", Model)
</div>