@model FinanceApp.Dtos.CategoryDTO

@{
    ViewData["Action"] = "Create";
    ViewData["ButtonText"] = "Add Category";
}

<div class="containter">
    <h2>Add Category</h2>
    @await Html.PartialAsync("_CategoriesForm", Model)
</div>