@model FinanceApp.Dtos.CategoryDTO

@{
    ViewData["Action"] = "Edit";
    ViewData["ButtonText"] = "Save";
}

<div class="container">
    <h2>Edit Category</h2>
    @await Html.PartialAsync("_CategoriesForm", Model)
</div>
