@model IEnumerable<FinanceApp.Dtos.CategoryDTO>

@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h2>Categories</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Category</a>
    </p>

    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td style="width: 120px;">
                        <div class="d-flex gap-2">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                            <form method="post" asp-action="Delete" asp-route-id="@item.Id"
                                onsubmit="return confirm('Are you sure you want to delete @item.Name category?');"
                                class="d-inline p-0 m-0">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>